.modal-body.bulkSettingsAction {
    .btnMainCat {
        border-radius: 10px;
        margin-right: 5px;
        background-color: $body-bg;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    }
    .min-height-300{
        min-height: 300px;
    }
    .hoverBtnMain{
        &:hover {
            transition: .1s linear all;
            transform: translateY(-3px);
            background-color: $indigo;
        }
    }
}
#filterBox {
    position: absolute;
    background-color: white;
    z-index: 2;
    border-radius: 10px;
    box-shadow: $cardShadowGlobal;
    top: 60px;
    width: 400px; ;
    height: 200px;
    padding: 10px;

    .fas.fa-sort-up{
        position: absolute;
        top: 0;
    }
}
