#detailsChart {
    .customChartCard {
        min-height: 460px!important;
        background-color: white;
    }
    .dataCard {
        height: 32%;
    }
    .futureCard {
        height: 65%;
    }
    .rightSideDataCol {
        height: 460px!important;
    }
    .greyGradient {
        background: rgb(2,0,36);
        background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(88,87,112,0.3060574571625525) 0%, rgba(241,233,233,0.5777661406359419) 100%, rgba(0,212,255,1) 100%);
    }
}
#asinPerformance {
    .active {
        background-color: lightgrey!important;
    }

    .btnAsin {
        margin-right: 5px;
        background-color: $body-bg;
        box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.15);

        &:hover {
            box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.15);
            transition: .1s linear all;
            transform: translateY(-3px);
        }
    }
}
